<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.mapper.RegionMapper">

    <select id="getAllRegions" resultType="ru.model.Region">
        SELECT * FROM REGIONS;
    </select>

    <select id="getRegionById" resultType="ru.model.Region">
        SELECT * FROM REGIONS WHERE id = #{id};
    </select>

    <insert id="insertRegion">
        INSERT INTO REGIONS (name, shortName) VALUES (#{name}, #{shortName});
    </insert>

    <update id="updateRegion">
        UPDATE REGIONS SET name = #{name}, shortName = #{shortName} WHERE id = #{id};
    </update>

    <delete id="deleteRegion">
        DELETE FROM REGIONS WHERE id = #{id};
    </delete>
</mapper>